moviepy==1.0.3           # 视频合成
pydub==0.25.1            # 音频处理
spacy==3.7.2             # NLP分句
#nltk==3.8.1              # 备用分词
openai==1.3.6            # DALL·E API
elevenlabs==0.2.9        # 高质量TTS
requests==2.31.0         # 通用网络请求
pillow==10.0.0           # 图像处理
#gtts==2.4.0
jieba==0.42.1
dashscope